body {
    padding-top: 65px;
    hyphens: auto;
}

.navbar-header {
    height: 80px;
}

    .navbar-header a {
        margin-right: 20px;
        margin-top: 20px;
        font-size: 2em;
    }

.nav {
    margin-top: 40px;
}

.username a {
    font-size: 18px;
}

.navbar-left {
    margin-top: 52px;
}

legend {
    text-align: center;
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}

@media (max-width: 767px) {
    body {
        padding-top: 200px;
    }
}

.login {
    margin-top: 100px;
}

.editpage {
    margin: 160px;
}

.profileImageData {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(100, 155, 63, 0.51);
    text-align: center;
}

.fr-h1 {
    margin: 50px;
}

.CoverImageData {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(100, 155, 63, 0.51);
    text-align: center;
}

.profileImg {
    display: inline-block;
}

#profilename {
    color: white;
    font-size: 20px;
    display: inline-block;
}

.images {
    margin-left: 100px;
}

#cover-img {
    position: absolute;
    z-index: -1;
    margin-top: -400px;
}

#userprofile {
    display: inline-block;
    margin-top: 150px;
    margin-left: 50px;
}

.img-thumbnail {
    height: 150px;
}

.friend {
    padding: 10px;
}

    .friend:hover {
        background-color: #dddddd;
    }

.friend div {
    display: inline-block;
    margin: 10px;
}

    .friend div h3 {
        margin: 0;
        padding: 0;
        display: block;
        color: red;
    }

    .friend img {
        display: inline-block;
    }

    .friend div p {
       margin: 0;
        padding: 0;
        display: inline-block;
    }

    .friend div button {
        margin-top: 20px;
    }

.friendslist {
    display: block;
    margin-left: 150px;
}

@media (min-width: 768px) {
    #cover-img {
        width: 690px;
    }
}

@media (min-width: 992px) {
    #cover-img {
        width: 910px;
    }
}

@media (min-width: 1200px) {
    #cover-img {
        width: 1120px;
    }
}

#preview {
    position: absolute;
    border: 1px solid black;
    width: 180px;
    height: 80px;
    padding: 10px;
}

.postImages {
    display: inline-block;
}

.postHeader {
    display: inline-block;
    font-size: 18px;
}

.postContent {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.ownerPost {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.date {
    color: skyblue;
    margin-left: 60px;
}

.inWall {
    float: right;
    margin-top: 12px;
    margin-right: 5px;
    color: skyblue;
}

.like:hover{
    color: green;
    font-size: 20px;
}

.unlike:hover{
    color: red;
    font-size: 20px;
}

#comment-edit {
    width: 980px;
}

.user-sex {
    text-align: center;
}

.textarea {
    width: 1100px;
}

.textareaPost {
    width: 1070px;
}

.hoverName:hover {
    color: skyblue;
    font-weight: bold;
}

.ownerImg {
    float: right;
}

#searchList {
    background-color: white;
    position: absolute;
    top: 85px;
    left: 400px;
}

#searchList h3 {
    font-size: 20px;
}

.searchImg{
    width: 50px;
}

.searchInfo {
    display: inline-block;
}

.hoverSearch {
    padding: 10px;
}

.hoverSearch:hover {
    padding: 10px;
    background-color: #dddddd;
}

.profile-text {
    position: absolute;
    display: inline-block;
    margin-top: 250px;
    margin-left: 20px;
}