
<div ng-include="'templates/navbar.html'"></div>

<div class="container" ng-controller="AuthenticationController">
    <div class="well bs-component col-lg-6 col-lg-offset-1">
        <form class="form-horizontal" name="registerForm" ng-submit="changePassword()">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">Old Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="oldPass" ng-model="passwordData.oldPassword" placeholder="Old Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="newPass" ng-model="passwordData.newPassword" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">Confirm New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="confirmNewPas" ng-model="passwordData.confirmPassword" placeholder="Confirm New Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-4">
                        <a href="/#/user/home" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>