<div ng-include="'templates/navbar.html'"></div>

<div class="userprofile">
    <h1 class="fr-h1"> Friends <span>({{friendList.length}})</span></h1>
    <div class="friendslist">
        <div class="container" ng-controller="FriendController">
            <div class="row">
                <div ng-repeat="friend in friendList" class="friend col-md-5 fr" id="{{friend.username}}" ng-click="displayProfile(friend.username)" >

                    <img ng-src="{{friend.profileImageData}}" ng-click="GetUserPreviewData(friend.username)" ng-mouseover="GetUserPreviewData(friend.username)" class="img-circle" alt="Alternate Text" />
                    <div>
                        <h3>{{friend.name}}</h3>
                        <p>{{friend.username}} </p>
                    </div>
                    <div id="preview" ng-if="preview.username == friend.username">
                        <img ng-if="preview.gender == 0" src="../imgs/other.png" />
                        <img ng-if="preview.gender == 1" src="../imgs/male.png" />
                        <img ng-if="preview.gender == 2" src="../imgs/female.png" />

                        <button ng-if="preview.isFriend == true" class="btn btn-info">Friend</button>
                        <button ng-if="preview.isFriend == false" class="btn btn-danger">Invite</button>
                        <button ng-if="preview.hasPendingRequest == true" class="btn btn-danger">Invitation was sent</button>

                    </div>
                </div>
            </div>

    </div>
    
    
</div>
</div>