<div ng-include="'templates/navbar.html'"></div>

<div class="userprofile">
    <h1 class="fr-h1"> New Friends</h1>
    <div class="friendslist">
        <div class="container friendslist">
            <div ng-repeat="request in requests" class="friend col-md-4" id="{{request.id}}">
                <img ng-src="{{request.user.profileImageData}}" class="img-circle" alt="Alternate Text" />
                <div>
                    <h3>{{request.user.name}}</h3>
                    <p>{{request.user.username}} </p><br />
                    <button class="btn btn-primary" >Accept</button>
                    <button class="btn btn-danger" >Cancel</button>
                </div>

            </div>

        </div>
    </div>
</div>
